@charset "UTF-8";
/* CSS Document */
p {
	color: black;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 16px;
	line-height: 18px;
	background-color:darkgrey;
	padding: 18px;
	border: 1px solid black;
	font-weight: bold;
}
h1, h2 {
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color:darkcyan;
	text-align: center;
}
h3,h4,h5{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color:black;
	text-align:left;
	font-size: 22px;
	line-height: 18px;
	background-color:azure;
	opacity: 0.6;
	padding: 18px;
	border: 1px solid black;
	font-weight: bold;
	
}
	
.pozadina{ 
	background-image: url("pozadina.jpg" ); 
	img opacity: 0.5;
	background-size: cover;
 
}
.drugapozadina {
	background-color:thistle;
	background-image: url(https://cdn.pixabay.com/photo/2020/03/14/17/01/flowers-4931217_1280.png);

}
.paragraf {color:black; background-color: darkgrey; opacity: 0.6}

	

a:hover, a:active{
  background-color:cornflowerblue;
	}